flask>=2.2.2
#tensorflow-macos==2.12.0
tensorflow~=2.19.0
pandas==1.5.0
numpy~=1.26.4
scikit-learn==1.2.0
gensim==4.3.0
FuzzyTM==2.0.9
setfit==1.1.2
shiny~=1.4.0
requests~=2.32.4
keras~=3.10.0
sentence-transformers~=4.1.0
datasets~=3.6.0